h1 {
    font-family: cursive, Times, serif;
    text-align: center;
    color: blue;
    margin: auto auto 16px auto;
}

p {
    border: solid black;
    font-family: cursive, Times, serif;
    font-size: 20px;
    padding: 8px;
}

li {
    font-family: cursive, Times, serif;
    font-size: 20px;
    margin-bottom: 8px;
    color: ;

}

a {
    color: black;
}

.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

h2 {
    color: blue;
}