h1 {
    text-align: center;
    color: blue;
}

.para {
    border: solid;
    font-family: cursive, Times, serif;
    font-size: 20px;
    padding: 8px;
}

li {
    font-family: cursive, Times, serif;
    font-size: 20px;
    margin-bottom: 8px;
}

a {
    color: black;
}

.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: auto;
}

h2 {
    color: blue;
}

p {
    font-family: cursive, Times, serif;
    font-size: 20px;
}

.Logo {
    display: block;
    margin: auto;
    width: 10%;
}